<div class="navbar">
  <div class="navbarLeft">username</div>
  <div class="navbarMiddle">
    <search><input type="text" placeholder="search" /></search>
  </div>
  <div class="navbarRight">
    <% if (currentUser){ %>
    <a href="/logout">Logout</a>
    <% }else{ %>
    <a href="/login">Login</a> <a href="/sign-up">Sign Up</a>
    <% } %>
  </div>
</div>
