<div class="navbar">
  <div class="navbarLeft">
    <a class="navbarLink" href="/">Home</a>
    <!-- TODO -->
    <% if (currentUser){ %>
    <a class="navbarLink" href="/profile/<%-currentUser.username %>">
      <div class="navProfile">
        <div class="profilePicture">
          <img src="/imgs/blackbackgroundwithface.png" alt="" />
        </div>
        <div><%-currentUser.username%></div>
      </div>
    </a>
    <% } %>
  </div>
  <div class="navbarMiddle">
    <search><input type="text" placeholder="search" /></search>
  </div>
  <div class="navbarRight">
    <% if (currentUser){ %>
    <a class="navbarLink" href="/logout">Logout</a>
    <% }else{ %>
    <a class="navbarLink" href="/login">Login</a>
    <a class="navbarLink" href="/sign-up">Sign Up</a>
    <% } %>
  </div>
</div>
