<div class="navbar">
  <div class="navbarLeft">
    <div><a href="/">Home</a></div>
    <!-- TODO -->
    <a href="">
      <div class="navProfile">
        <div class="profilePicture">
          <img src="./imgs/blackbackgroundwithface.png" alt="" />
        </div>
        <div>username</div>
      </div>
    </a>
  </div>
  <div class="navbarMiddle">
    <search><input type="text" placeholder="search" /></search>
  </div>
  <div class="navbarRight">
    <% if (currentUser){ %>
    <a href="/logout">Logout</a>
    <% }else{ %>
    <a href="/login">Login</a> <a href="/sign-up">Sign Up</a>
    <% } %>
  </div>
</div>
