<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="pageContent">
      <div>
        hello <% if(currentUser){ %> <%- currentUser.username %> <% } %>
      </div>
      <div>
        Check out some juicy questions on these users profiles or ask one
        yourself
      </div>
      <% users.forEach(user => { %>
      <a href="/profile/<%- user.username %>"
        ><div class="userProfileCard"><%- user.username %></div></a
      >
      <% }) %>
    </div>
  </body>
</html>
