<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="pageContent">
      <div class="loginContent">
        <div class="loginCard">
          <h1>Sign in</h1>
          <form action="" method="post">
            <%- include('./partials/errors') %>
            <section class="loginUsername">
              <label for="username">Username</label>
              <input
                id="username"
                name="username"
                type="text"
                autocomplete="username"
                required
                autofocus
              />
            </section>
            <section class="loginPassword">
              <label for="current-password">Password</label>
              <input
                id="current-password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
              />
            </section>
            <div class="loginButton">
              <button type="submit">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
