@font-face {
  font-family: jetBrains-mono;
  src: url("./fonts/JetBrainsMono-Regular.ttf");
  font-weight: normal;
}

:root {
  --primary: #46acff;
  --primary-text-color: white;

  --background-color: #1c1c1c;
  --accent-color: #312ae2;
  --secondary-3: #35373d;

  --success: #22946e;
  --danger: #9c2121;
  --navbarHeight: 50px;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0px;
  font-family: jetBrains-mono, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* * {
  outline: 1px solid var(--danger);
} */

body {
  min-height: 100vh;
  min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
  /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
  display: flex;
  /* same with this*/
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-size: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

input {
  padding: 0px 0px;
  border: var(--accent-color) solid 1px;
}

input:focus {
  border: var(--accent-color) solid 1px;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: underline;
  color: var(--primary);
}

a:visited {
  text-decoration: underline;
  color: var(--primary);
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  margin: 10px auto;
}
.navbar {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: var(--navBarHeight);
  width: 100%;
  font-size: 20px;
  height: var(--navbarHeight);
  background-color: var(--background-color);
  border-bottom: 1px var(--secondary-3) solid;
}
.navbarLeft,
.navbarRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0; /*flex basis 0 makes everythign grow equally*/
  gap: 10px;
  padding: 0px 10px;
}
.navbarLeft {
}

.navProfile {
  display: flex;
  flex-direction: row;
}
.profilePicture {
  display: flex;
  width: 25px;
  height: 25px;
}
.profilePicture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.navbarMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}
.navbarMiddle > search > input {
  width: 100%;
  height: var(--navBarHeight);
}
.navbarRight {
  justify-content: flex-end;
}

.navbarLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  height: 30px;
  box-shadow: var(--secondary-3) 0px 0px 3px;
}

.navbarLink:visited {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbarMiddle > search {
  flex: 1;
}
.navbarMiddle > search > input {
  border-radius: 10px;
  padding: 0px 10px;
  background-color: var(--primary-text-color);

  height: 30px;
}

.signupPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupCard {
  max-width: 50%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
}

.signupCard > form {
  width: 100%;
  display: grid;
  grid-template-columns: auto-fit, auto-fit;
  padding: 10px;
  gap: 10px;
  grid-template-areas:
    "username email"
    "password firstname"
    "passwordConfirm lastName"
    "signupButton signupButton ";
}
.signupUsername {
  grid-area: username;
}
.signupPassword {
  grid-area: password;
}
.signupPasswordConfirm {
  grid-area: passwordConfirm;
}
.signupEmail {
  grid-area: email;
}
.signupFirstName {
  grid-area: firstname;
}
.signupLastName {
  grid-area: lastName;
}
.signupButton {
  grid-area: signupButton;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signupButton > button {
  border-radius: 10px;
  background-color: var(--primary-text-color);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px 15px;
  width: 50%;
}
.signupButton > button:hover {
  background-color: rgb(233, 233, 233);
}

.signupCard > form > section {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  flex: 1 1 auto;
}
.signupCard > form > section > input {
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCard {
  max-width: 50%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
}

.loginCard > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "username password"
    "loginButton loginButton";
}

.loginUsername {
  grid-area: username;
}
.loginPassword {
  grid-area: password;
}
.loginButton {
  grid-area: loginButton;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loginCard > form > section {
  display: flex;
  flex-direction: column;
}
.loginButton > button {
  border-radius: 10px;
  background-color: var(--primary-text-color);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px 15px;
  width: 50%;
}
.loginButton > button:hover {
  background-color: rgb(233, 233, 233);
}

.loginCard > form > section > input {
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
}

.userProfileCard {
  border-bottom: grey 1px solid;
  display: flex;
  align-items: flex-end;
  padding: 10px 0px;
  gap: 10px;
}
.userProfilePicture {
  width: 100px;
  height: 100px;
}
.questionForm {
  padding: 10px 0px;
}
.questionForm > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.questionForm > form > textarea {
  resize: none;
  max-width: 50vw;
  padding: 10px;
  width: 100%;
}
.questionForm > form > button {
  max-width: 50vw;
  width: 100%;
}

.messageReply {
  margin-left: 10px; /*reply tab*/
}
